@model IEnumerable<GestionDeportiva.Models.Evento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create new entry", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lugar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lugar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventoId })
        </td>
    </tr>
}

</table>
